<h1 class="title">{{site.skills_title}}</h1>

<div id="skills">
  <input type="radio" id="all" name="filter" checked />
  <label class="filter-button neumorphism-button" for="all">All</label>
  <input type="radio" id="language" name="filter" />
  <label class="filter-button neumorphism-button" for="language">Languages</label>
  <input type="radio" id="framework" name="filter" />
  <label class="filter-button neumorphism-button" for="framework">Frameworks</label>
  <input type="radio" id="tool" name="filter" />
  <label class="filter-button neumorphism-button" for="tool">Tools</label>


    <div skill-type="language" skill-weight="{{language.weight}}" data-aos="zoom-in">
      HTML5 CSS3 JavaScript Python
    </div>


    <div skill-type="framework" skill-weight="{{framework.weight}}" data-aos="zoom-in">
      Django 
    </div>


    <div skill-type="tool" skill-weight="{{tool.weight}}" data-aos="zoom-in">
      Postman Git
    </div>

</div>
